header {
    /* Position */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Setter høyde og luft på header */
    padding: 1rem;
    height: 70px;

    /* Jeg har en lys gråfarge for å visuelt skille header fra main */
    border-bottom: 2px solid var(--border-color);
}

header h1 a {
    text-decoration: none;

    font-size: var(--font-size-h1);
    font-weight: 700;
    /* Jeg endrer mellomrommet mellom bokstavene vet hjelp av letter spacing. 
    Kilde i dokumentet: Kilder_Julia.txt */
    letter-spacing: 1px;

    color: var(--heading-text-color);
}

header ul {
    /* Position */
    display: flex;
    flex-direction: row;

    /* Air: Fjerner margin og padding. 
    Bruker gap for mellomromm mellom elementene i listen*/
    margin: 0;
    padding: 0;
    gap: 1rem;

    list-style: none;
}

header ul li a {
    display: inline-block;

    font-size: var(--font-size-base);
    font-weight: 600;

    letter-spacing: 0.3px;
    text-decoration: none;

    padding: 1rem;

    color: var(--heading-text-color);

    /* Legger på en usynelig linje under elementene +
    Legger til transaksjon jeg ønsker 
    Kilde i dokumentet: Kilder_Julia.txt*/
    border-bottom: 2px solid transparent;
    transition: 0.2s ease;
}

/* Jeg har en hover funksjon når man hovrer over linkene i navigasjonen til header 
Kilde i dokumentet: Kilder_Julia.txt*/
header ul li a:hover {
    border-bottom: 2px solid #595959;
}