.member-section-julia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem;
    gap: 1rem;

    width: 100%;
    max-width: 600px;
    height: 250px;

    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    /* Jeg syntes bakgrunnen på profilkortet mitt var litt kjedelig, så jeg så på insperasjon på internett for ulike måter å forbedre den på.
    Jeg endre opp med å bruke en gradientbakgrunn.
    Jeg hentet insperasjon for hvilken farger jeg ønsket på: https://uigradients.com/#Roseanna,
    og brukte https://cssgradient.io/ for selve gradienten.
    Kilde lagt i dokumentet: Kilder_Julia.txt*/
    background: #FFAFBD;
    background: linear-gradient(rgba(255, 175, 189, 0.39) 0%, rgba(255, 195, 160, 1) 100%);
}

#avatar-img-julia {
    /* Kilde for "Style avatar-bildet" i dokumentet: Kilder_Julia.txt */
    object-fit: cover;

    width: 200px;
    height: 100%;

    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.member-container-julia {
    display: flex;
    flex-direction: column;

    gap: 0.25rem;
    padding: 1.5rem;
    height: auto;

    font-size: var(--font-size-base);
    border-left: 2px solid #FFAFBD;
}

.member-container-julia h3 {
    color: var(--heading-text-color);
    font-size: var(--font-size-h2);
    font-weight: 700;
    letter-spacing: 0.4px;

    margin-bottom: 1rem;
}

.member-container-julia h4 {
    color: var(--heading-text-color);
    font-size: var(--font-size-base);
    letter-spacing: 0.4px;
    font-weight: 600;
}

.member-container-julia p {
    color: var(--normal-text-color);
    font-size: var(--font-size-base);
    letter-spacing: 0.4px;
    font-weight: 500;
}

#study-txt {
    padding: 0.2rem 0rem;
}

.member-container-julia p a {
    display: inline-block;
    color: var(--normal-text-color);
    font-size: var(--font-size-base);
    text-decoration: underline;
    font-weight: 500;
    letter-spacing: 0.4px;

    transition: 0.2s ease;

    padding: 0.2rem 0.2rem;
    margin-bottom: 0.5rem;
}



.member-container-julia p a:hover {
    background-color: #FFAFBD;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .member-section-julia {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: auto;
        width: 250px;
        gap: 0.5rem;
    }

    #avatar-img-julia {
        height: 200px;
        width: 200px;
    }

    .member-container-julia {
        flex-direction: column;
        border-left: none;

        width: 100%;
        height: auto;
    }
}