@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Jeg ønsket en annen "penere" font enn Arial 
Kilde i dokumentet: Kilder_Julia.txt*/

body {
  font-family: 'Inter', Arial, sans-serif;
}

/* Lagt på enkel css for at elementene ikke skal være klistret opp i hjørnet */
/* REMEMBER: burde endres på */
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

/* REMEMBER: Endre */
.profile-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}